::-webkit-scrollbar
{
	width:7px;
	height:7px;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment
{
	display:block;
	height:0;
	background-color:transparent;
}
::-webkit-scrollbar-track-piece
{
	background-color:#000000;
	-webkit-border-radius:50px;
	-webkit-border-bottom-right-radius:50px;
	-webkit-border-bottom-left-radius:50px;
}
::-webkit-scrollbar-thumb:vertical
{
	background-color:#A4A4A4;
	-webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:horizontal
{
	background-color:#A4A4A4;
	-webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:hover 
{
	background-color:#5E74D8;
}
.info, .success, .warning, .error, .validation 
{
	padding-top:20px;
	padding-bottom:20px;
	padding-right:30px;
	padding-left:30px;
	background-size:20px 20px;
	background-repeat:no-repeat;
	-moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}
.info 
{
	-moz-box-shadow:30px 30px 30px #4DA3B5;
    -webkit-box-shadow:30px 30px 30px #4DA3B5;
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../Images/info.png');
}
.success
{
	-moz-box-shadow:30px 30px 30px #4B8142;
    -webkit-box-shadow:30px 30px 30px #4B8142;
	color: #4F8A10;
	background-color: #B8FBAC;
	background-image:url('../Images/success.png');
}
.warning 
{
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../Images/warning.png');
}
.error 
{
	-moz-box-shadow:30px 30px 30px #861B38;
    -webkit-box-shadow:30px 30px 30px #861B38;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../Images/error.png');
}